<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action =>
        { :action => "new", :id => @article.id , :class => ('autosave')}
} %>

<%= form_tag :action=>"edit", :id => @article.id do %>
    <div class='clearfix'>
        <label for="merge"><%= _("Article ID")%></label>
        <div class='input'>
            <%= text_field :Article, :class => 'small'  %>
            <%= submit_tag "merge" %>
          
            <%= cancel_or_merge %>
        </div>
    </div>
<% end %>