<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action =>
        { :action => "new", :id => @article.id , :class => ('autosave')}
} %>

<div class='left_form'>
<%- if current_user.admin? %>
        <h4><%= _("Merge Articles") %> </h4>
        <%= form_tag({:controller => "content", :action => "merge", :id => @article.id}) do %>
            <%= _("Article ID: ") %>
            <%= text_field_tag(:other_article_id) %>
            <br>
            <%= submit_tag("Merge") %>
        <% end %>
<%- end %>
</div>