<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action =>
        { :action => "new", :id => @article.id , :class => ('autosave')}
} %>

<%= form_for :article, :url => {:action => "merge"} do |m| %>

        <label for="merge"><%= _("Article ID")%></label>

            <%= m.text_field :id, :class => 'small'%>

<% end %>

<%= link_to _("merge"), {:controller => 'admin/categories', :action => 'new' }, :class => 'btn info' %>